<html>
<head>
<title>YOURCELLAR
    </title>
  <h1>BUSQUEDA DE CLIENTE</h1>
	
  
  	
</head>  
<body>
	<label for="guessField">Nombre</label>
        <input type="letra" id="valor">
        <label for="guessField">Rut </label>
        <input type="number" id="valor">
        <label for="guessField">Comuna </label>
        <input type="letra" id="valor">
        <label for="guessField">Ciudad</label>
        <input type="letra" id="valor">
        <label for="guessField">email </label>
        <input type="email" id="valor">
        <br/>
        <br/>

        <input type="button" onclick="generartabla()" value="BUSCAR"/>
 
   
</body>
</html>