<html>
    <head>    
        <title>YOURCELLAR</title>
    </head>
    <body>
      
      <h1>BIENVENIDOS</h1>
    </br>
    <ul> <h3>Inventario</h3>
        <li><a href="http://127.0.0.1:8000/distribucion/busqueda_en_inventario/">Busqueda en inventario</a></li>
        <li><a href="http://127.0.0.1:8000/distribucion/reporte_de_inventario/">Reporte de inventario</a> </li>
   </ul> 
   <ul> <h3>Clientes</h3>
        <li><a href="http://127.0.0.1:8000/distribucion/busqueda_de_clientes/">Busqueda de clientes</a></li>
        <li><a href="http://127.0.0.1:8000/distribucion/reporte_de_clientes/">Reporte de clientes</a></li>
    </ul>  
    <ul> <h3>Orden de compra</h3>
        <li><a href="http://127.0.0.1:8000/distribucion/orden_de_compra/">Orden de compra</a></li>
        <li><a href="http://127.0.0.1:8000/distribucion/reporte_ordenes_de_compra/">Reporte ordenes de compra</a></li>
    </ul>  
    <ul> <h3>Producto</h3>
        <li><a href="http://127.0.0.1:8000/distribucion/productos/">Ingreso de productos</a></li>
    </ul>                         
         
   
    
</body>
</html>

