<html>
<head>
<title>YOURCELLAR
    </title>
  <h1>ORDEN DE COMPRA</h1>
	
  
  	
</head>  
<body>
	    <label for="guessField">Nombre</label>
        <input type="letra" id="valor">
        </br>
	    <label for="guessField">Codigo</label>
        <input type="letra" id="valor">
        </br>
        <label for="guessField">Fecha de entrada </label>
        <input type="date" id="valor">
        </br></br></br></br>
        <h2>Producto</h2>
        <label for="guessField">Codigo</label>
        <input type="letra" id="valor">
        </br>
        <label for="guessField">Cantidad </label>
        <input type="number" id="valor">
        <br/>
        <br/>

        <input type="button" onclick="generartabla()" value="INGRESAR"/>
 
   
</body>
</html>