<html>
<head>
<title>YOURCELLAR
    </title>
  <h1>INGRESO PRODUCTOS</h1>
	
  
  	
</head>  
<body>
	    <label for="guessField">Nombre</label>
        <input type="letra" id="valor">
        </br>
	    <label for="guessField">Codigo</label>
        <input type="letra" id="valor">
        </br>
        <label for="guessField">Fecha de ingreso </label>
        <input type="date" id="valor">
        <br/>
        <label for="guessField">Marca</label>
        <input type="letra" id="valor">
        <br/>
        <label for="guessField">Descripcion</label>
        <input type="letra" id="valor">
        <br/><br/>
        <input type="button" onclick="generartabla()" value="INGRESAR"/>
 
   
</body>
</html>