<!DOCTYPE html>
<html>
    <head>
        <title>YOURCELLAR</title>
    </head>
    <body>
    <h1>Reporte ordenes de compra</h1>
    <div class="form">
        <label for ="caja_busqueda">Buscar:</label>
        <input type ="text" name= "caja_busqueda" id="caja_busqueda"></input>
    </div>    
    <br>
    <div id="datos">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Codigo producto</th>
                <th scope="col">Cod. Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
    </div>
    </body>
    <script> 
    
    </script>
</html>